{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Website</title>
    <link rel="stylesheet" href="{% static 'llm/css/styles.css' %}">
    <link rel="icon" href="{% static 'llm/images/logo.ico' %}">
</head>
<body>
    <header>
        <img src="{% static 'llm/images/log.jpg' %}">
        <div class="container">
            <h1>LLM+ Clinic</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li><a href="#services">服务</a></li>
                    <li><a href="#about">更多</a></li>
                    <li><a href="#contact">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home">
    <div class="hero">
        <h2>您的健康，我们的使命</h2>
        <p>在服务——线上就诊中使用 LLM 即时生成你的诊断</p>
        <button onclick="window.location.href='https://www.shdsyy.com.cn/web/index.php?classid=9057'">线上门诊预约</button>
    </div>
</section>

    <section id="services">
        <div class="container">
            <h2>服务</h2>
            <div class="service-list">
                <div class="service-item">
                    <button onclick="location.href='{% url 'diagnois' %}'">线上就诊</button>
                </div>
                <div class="service-item">
                    <button>医生问诊</button>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h2>更多</h2>
            <p>上海市第十人民医院（暨同济大学附属第十人民医院），创建于1910年，1993年成为卫生部首批“三级甲等”综合性医院。</p>
            <p>2000年成为同济大学附属医院，2004年医院整体移交上海市人民政府，实行属地化管理。</p>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>联系我们</h2>
            <form id="contactForm" action="{% url 'contact_submit' %}" method="post">
    {% csrf_token %}
    <label for="name">姓名:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">邮箱:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">您的意见:</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit">Send</button>
</form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 HealthCare+ Clinic. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
