*.h5
*.mat
*.zip
*.rar
*.tar
*.tar.gz
*.tar.bz2
*.pkl
*.pth
*.pth
*.yaml
*PCAT1_512
*PCAT0_512
*.pt
0.组会记录
AI for science
*.mp4
5.cv论文/2025.1.21 空间智能汇报调研/978-3-031-72995-9.pdf
*.bin
*.safetensors
*.msgpack
* 数据集
*0.跟做项目
