*.h5
*.mat
*.zip
*.rar
*.tar
*.tar.gz
*.tar.bz2
*.pkl
*.pth
*.pth
*.yaml
*PCAT1_512
*PCAT0_512
*.pt
*.mp4
5.cv论文/2025.1.21 空间智能汇报调研/978-3-031-72995-9.pdf
*.bin
*.safetensors
*.msgpack
*数据集
AI for science/
*.pptx
0.跟做项目/红外目标检测/IRDet/
0.跟做项目/东北大学医工交叉/任务/任务16/B222.png
0.跟做项目/东北大学医工交叉/任务/任务16/B222_downsampled.png
0.跟做项目/东北大学医工交叉/任务/任务16/IF_S100B_contrast1_bright0.png
0.跟做项目/东北大学医工交叉/任务/任务16/IF_mid_5000x5000.png
0.跟做项目/东北大学医工交叉/任务/任务16/B222_mid_5000x5000.png
0.跟做项目/东北大学医工交叉/任务/任务16/
